# Identifiants de l'application Francetravail.io
CLIENT_ID=
SECRET_KEY=

X-INSEE-Api-Key-Integration=

RAW_DATA_FOLDER=data\raw
PROCESSED_DATA_FOLDER=data\processed
PROCESSED_DATA_FILE=merged_data.csv

DATABASE_NAME=observia_emploi_db
DATABASE_USER=
DATABASE_PASSWORD=

# Configuration API France Travail
FRANCE_TRAVAIL_CLIENT_ID=
FRANCE_TRAVAIL_CLIENT_SECRET=
FRANCE_TRAVAIL_TOKEN_URL=
FRANCE_TRAVAIL_SCOPE=
FRANCE_TRAVAIL_OFFERS_SEARCH_URL=
FRANCE_TRAVAIL_REQUEST_TIMEOUT_SECONDS=10
