# Identifiants de l'application Francetravail.io
CLIENT_ID=
SECRET_KEY=

# Clé API INSEE SIRENE (https://portail-api.insee.fr/)
X-INSEE-Api-Key-Integration=

RAW_DATA_FOLDER=data\raw
PROCESSED_DATA_FOLDER=data\processed
PROCESSED_DATA_FILE=merged_data.csv