# Identifiants de l'application Francetravail.io
CLIENT_ID=
SECRET_ID=

X-INSEE-Api-Key-Integration=

RAW_DATA_FOLDER=backend\data\raw
PROCESSED_DATA_FOLDER=backend\data\processed

DATABASE_NAME=observia_emploi_db
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=
DATABASE_PASSWORD=
