# Configuration de l'environnement
.env
.env.local
.env.*

# Dossiers de Ressources / Data
# (Gère les majuscules/minuscules et l'orthographe française/anglaise)
/[Rr]essources/
/[Rr]esources/

# Dossiers de données temporaires (les fichiers sont ignorés, sauf les .gitkeep pour le suivi du dossier)
/data/raw/*
!/data/raw/.gitkeep
/data/processed/*
!/data/processed/.gitkeep

# Sécurité globale contre les fichiers de données volumineux
*.csv
*.xlsx
*.parquet
*.sqlite3
*.json

# Caches Python & Environnement Virtuel
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

*.zip
logs/