pandas==2.3.3
fastapi==0.105.0
uvicorn==0.34.0
sqlalchemy==2.0.50
psycopg[binary]==3.3.4
python-dotenv==1.1.0
requests==2.31.0
tqdm==4.66.0
pytest==9.0.2
autoflake==2.3.3
autopep8==2.3.2
openpyxl==3.1.5
groq
